<h1>Your Cart</h1>


<% @cart.line_products.each do |line_product| %>

  <p><%= line_product.product.name %> | $<%= line_product.product.price.to_f/100 %> | Quantity: <%= line_product.quantity  %>

  <% end %> </p>

<p>Order total: <strong>$<%= @cart.total.to_f/100 %></strong> </p>
<% if @cart.status == 'not submitted' %>
  <%= button_to 'Checkout', checkout_path %>
<% end %>
