<body class=center>


    <h1> Welcome to Flower Picks </h1>
    <h2> Send flowers for $30 </h2>

  <br>



  <table style="width:100%">

    <tr>

      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
    </tr>
    <tr>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
    </tr>

    <tr>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
    </tr>
  </table>



  <br>


</body>
