
<%= form_for :product, :url => url_for(:action => "create", :id => @product), :html => {:multipart => true}  do |f| %>
  <p> <%= f.label :name %>: </p>
  <p>  <%= f.text_field :name %> </p>

  <p> <%= f.label :description %>: </p>
  <p> <%= f.text_field :description %> </p>


  <p> <%= f.label :date_delivered, "Delivery Day" %>: </p>
      <%= f.date_field :date_delivered, :value => Time.now.strftime("%B %e, %Y") %>

  <p> <%= f.label :image %>: </p>
  <p> <%= f.file_field :image %> </p>
<br>
<br>
  <%= f.submit "Create Flower" %>
  <% end %>
