
  <%= form_for @product, html: { multipart: true } do |f| %>
  
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@product.errors.count, "error") %>
          prohibited this product from being saved:
        </h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>



  <p> <%= f.label :name %>:
      <%= f.text_field :name %> </p>


  <p> <%= f.label :description %>:
      <%= f.text_field :description %> </p>


  <p> <%= f.label :date_delivered, "Delivery Day:" %>
      <%= f.date_field :date_delivered, :value => Time.now.strftime("%B %e, %Y") %> </p>


  <p> <%= f.file_field :image %> </p>
  <br>
  <%= f.submit "Create Flower" %>
  <% end %>
