<nav class="">
    <%= render 'layouts/signin' %>

      <h3> <%= link_to "Home", root_path %> </h3>
      <h3> <%= link_to "Gallery", products_path %> </h3>
      <h3> <%= link_to "Daily Pick", product_path(Product.date_match) %> </h3>

      <% if current_user.try(:admin?) %>
        <h3> <%= link_to "Add Pick of the Day", new_user_product_path(current_user) %> </h3>
      <% end %>


      <% if user_signed_in? %>
        <h3> <%= link_to "Your Cart", cart_path(current_user.current_cart) %> </h3>
      <% end %>
</nav>
